<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Agent list</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <style>
        /* Đặt chiều cao tối thiểu của body là 100vh để kéo dài hết màn hình */
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
            background-color: #FBE9D0;
        }

        .header {
            height: 50px;
            background-color: #90AEAD;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            color: #874F41;
        }

        .title {
            font-size: 25px;
            font-weight: bold;
            margin-top: 10px;
        }

        .content {
            flex: 1;
            background-color: whitesmoke;
            border-radius: 25px;
            margin: 30px auto;
            padding: 20px;
            max-width: 1200px; /* Giới hạn chiều rộng của content */
        }

        .footer {
            background-color: #ff724d;
            padding: 20px;
            color: white;
            width: 100%;
            margin-top: auto; /* Đẩy footer xuống cuối trang */
        }
    </style>
</head>
<body>
<div class="container-fluid header">
    <div class="col-sm-2">
        <img th:src="@{/images/logo.PNG}" alt="Logo" style="width: 50px; height: 50px;">
    </div>

    <div class="col-sm-5">
        <p class="title">Quản Lý Đại Lý</p>
    </div>
    <div class="col-sm-4 row">
        <div class="row">
            <span class="greeting">Chào: <span th:text="${admin.adminName}"
                                               style="font-weight: bold; font-style: italic;"></span></span>
        </div>
        <div class="row">
            <span class="date">Ngày: <span th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"></span></span>
        </div>
    </div>
    <div class="col-sm-1">
        <a th:href="@{/logout}" class="btn btn-default btn-danger">Đăng xuất</a>
    </div>
</div>

<div class="container content">
    <h3>Danh sách đại lý</h3>
<!--    <form th:action="@{/agents/list/page}" th:method="GET" style="margin-top: 10px;" id="searchForm">-->
<!--        <div class="form-group">-->
<!--            <label>Tài khoản: </label>-->
<!--            <input type="text" name="account" th:value="${account}">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>Trạng thái:</label>-->
<!--            <select name="status">-->
<!--                <option></option>-->
<!--                <option th:each="temp : ${listStatus}"-->
<!--                        th:value="${temp.statusId}"-->
<!--                        th:text="${temp.statusName}"-->
<!--                        th:selected="${temp.statusId == status}">-->
<!--                </option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>Tên đại lý: </label>-->
<!--            <input type="text" name="agentName" th:value="${agentName}">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <button type="submit" class="btn btn-default">Tìm đại lý</button>-->
<!--        </div>-->
<!--    </form>-->

<!--    <form th:action="@{/agents/list/page}" th:method="GET" th:object="${paging}"-->
<!--          style="width: 100%; display: flex; justify-content: space-between; margin-top: 10px;">-->
<!--        <div class="form-group">-->
<!--            <label>Hiển thị: </label>-->
<!--            <input type="number" name="pageSize" th:field="*{pageSize}" onkeypress="submitOnEnter(event)">-->
<!--            <label>Đại lý</label>-->
<!--        </div>-->
<!--        <input type="hidden" name="currentPage" th:field="*{currentPage}">-->
<!--        <div class="form-group">-->
<!--            <a th:href="@{/agents/list/page(pageSize=${paging.pageSize}, currentPage=${paging.currentPage}, option='previous')}"-->
<!--               class="btn btn-default">Previous</a>-->
<!--            <a th:href="@{/agents/list/page(pageSize=${paging.pageSize}, currentPage=${paging.currentPage}, option='next')}"-->
<!--               class="btn btn-default">Next</a>-->
<!--        </div>-->
<!--    </form>-->


    <hr style="height: 1px; background-color: black; border: none;">
    <form th:action="@{/agents/list/page}" th:method="GET" style="margin-top: 10px;" id="searchForm" th:object="${paging}">
        <div class="row container">
            <div class="row col-sm-10">
                <div class="row">
                    <div class="form-group col-sm-7">
                        <label>Tài khoản: </label>
                        <input type="text" name="account" th:value="${account}">
                    </div>
                    <div class="form-group col-sm-5">
                        <label>Trạng thái:</label>
                        <select name="status">
                            <option></option>
                            <option th:each="temp : ${listStatus}"
                                    th:value="${temp.statusId}"
                                    th:text="${temp.statusName}"
                                    th:selected="${temp.statusId == status}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-7">
                        <label>Tên đại lý: </label>
                        <input type="text" name="agentName" th:value="${agentName}">
                    </div>
                    <div class="form-group col-sm-5">
                        <button type="submit" class="btn btn-default btn-warning">Tìm đại lý</button>
                    </div>
                </div>
            </div>
            <div class="row col-sm-2">
                <a th:href="@{/agents/create}" class="btn btn-default btn-info">Tạo mới đại lý</a>
            </div>
        </div>
        <hr style="height: 1px; background-color: black; border: none;">
        <div style="width: 100%; display: flex; justify-content: space-between; margin-top: 10px;">
            <div class="form-group">
                <label>Hiển thị: </label>
                <input type="number" name="pageSize" th:field="*{pageSize}" onkeypress="submitOnEnter(event)">
                <label>Đại lý</label>
            </div>
            <input type="hidden" name="currentPage" th:field="*{currentPage}">
            <div class="form-group">
                <a th:href="@{/agents/list/page(pageSize=${paging.pageSize}, currentPage=${paging.currentPage}, option='previous', account=${account}, status=${status}, agentName=${agentName})}"
                   class="btn btn-default">Previous</a>
                <a th:href="@{/agents/list/page(pageSize=${paging.pageSize}, currentPage=${paging.currentPage}, option='next', account=${account}, status=${status}, agentName=${agentName})}"
                   class="btn btn-default">Next</a>
            </div>
        </div>
    </form>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>STT</th>
            <th>Tài khoản đăng nhập</th>
            <th>Tên đại lý</th>
            <th>Địa chỉ</th>
            <th>Trạng thái</th>
            <th>Ngày đăng ký</th>
            <th>Số dư tài khoản</th>
            <th>Tùy chọn</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="agent, status : ${list}">
            <td th:text="${status.index + 1}"></td>
            <td><a th:href="'mailto:' + ${agent.email}" th:text="${agent.email}"></a></td>
            <td th:text="${agent.agentName}"></td>
            <td th:text="${agent.address}"></td>
            <td th:text="${agent.status.statusName}"></td>
            <td th:text="${agent.registrationDate}"></td>
            <td th:text="${agent.accountBalance}"></td>
            <td>
                <a th:href="@{/agents/detail(agentId=${agent.agentId})}" class="glyphicon glyphicon-eye-open"></a>
                <a th:href="@{/agents/delete(agentId=${agent.agentId})}" class="glyphicon glyphicon-trash"
                   onclick="return confirmDelete();"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <hr style="height: 1px; background-color: black; border: none;">
    <p>Trang <span th:text="${paging.currentPage}"></span> hiển thị từ <span th:text="${paging.getOffset()}+1"></span>
        đến <span th:text="${paging.getOffset()+paging.getPageSize()}"></span>
        trên <span th:text="${paging.getTotalRows()}"></span> đại lý (Page <span th:text="${paging.currentPage}"></span>
        show from <span th:text="${paging.getOffset()}+1"></span> to <span
                th:text="${paging.getOffset()+paging.getPageSize()}"></span>
        of <span th:text="${paging.getTotalRows()}"></span> agents)</p>
</div>

<div class="footer">
    <div class="row">
        <div class="col-sm-8">
            <div class="mb-2">@2015, Bản Quyền Thuộc Đại Học FPT Hà Nội</div>
            <div class="mb-2">Địa chỉ: Khu Công nghệ cao Hòa Lạc – Km29 Đại lộ Thăng Long, H. Thạch Thất, TP. Hà Nội
            </div>
            <div>Liên hệ: <a href="mailto:daihocfpt@fpt.edu.vn">daihocfpt@fpt.edu.vn</a></div>
        </div>
        <div class="col-sm-4 d-flex align-items-center justify-content-end">
            <a href="https://daihoc.fpt.edu.vn/" target="_blank" class="me-3">Giới thiệu</a> |
            <a href="https://daihoc.fpt.edu.vn/" target="_blank" class="me-3">Hỗ trợ</a> |
            <a href="https://daihoc.fpt.edu.vn/" target="_blank">Nghề nghiệp</a>
        </div>
    </div>
</div>
<script>
    function submitOnEnter(event) {
        if (event.keyCode === 13) { // Kiểm tra nếu người dùng nhấn Enter
            const pageSizeField = event.target;
            // const searchForm = document.getElementById("searchForm");
            // Kiểm tra nếu giá trị của pageSize trống, thì gán giá trị mặc định
            if (pageSizeField.value.trim() === "") {
                pageSizeField.value = "3"; // Thay đổi giá trị mặc định tại đây nếu cần
            }
            pageSizeField.form.submit(); // Submit form
            // searchForm.submit();
        }
    }
</script>
<script>
    function confirmDelete() {
        return confirm("Bạn có chắc chắn muốn xóa đại lý này không?");
    }
</script>
</body>
</html>
