<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
    <!-- Link to your external style sheet -->
    <link href="/assets_CustomerSide/css/styleLogin.css" rel="stylesheet">
</head>
<body>

<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form  th:action="@{/forgot-password}" method="post">
            <h1>Forgot-password</h1>
            <input type="email" id="email" name="email" placeholder="Email" required>
            <!-- Display login error message -->
            <div th:if="${error}" style="color: red;">
                Invalid email, please try again.
            </div>
            <div th:if="${message}" style="color: red;">
               Successfully check your mail.
            </div>
            <!--            <div class="remember-me">-->
            <!--                <input type="checkbox" name="remember-me" id="remember-me"/>-->
            <!--                <label for="remember-me">Remember Me</label>-->
            <!--            </div>-->
            <a href="/login">Have account go to login?</a>
            <button type="submit">Send</button>
        </form>

    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start your journey with us</p>
                <button class="ghost" id="signUp" onclick="window.location.href='/register'">Sign up</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
